<html>


<head>

<title>{% block title%} Default {% endblock %}<title>

<body>{% block body%}

<nav>
    <button>
    <a href = "{{
    request.route_url...."

    
</nav>

{% if sidebar %} 

<aside>{% block sidebar%} 

Sidebar stuff!

{% endblock %}
</aside>
 {% end if %}


 {% endblock %}</body>
